/* reset start */
    body,html,p,h1,h2,h3,h4,h5,h6 {margin: 0;}
    h1,h2,h3,h4,h5,h6 {font-weight: normal;}
    ul,ol,form,input,textarea {margin: 0;padding: 0;}
    a {text-decoration: none;}
    img {border: none;vertical-align: middle;}
    li {list-style: none;}
/* reset end */

/*common start*/
    h5 {margin-top: 0; margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2;font-size: 1.25rem;color: #000000d9;}
    input[type="file"] {display: none;}
    .ym-main {padding: 10px 10px;background: #EFF2F9;flex: 1;overflow: hidden;box-sizing: border-box;}
    .space-btm {margin-bottom: 10px;}
    .space-btm1 {margin-bottom: 20px;}
    .text-center {text-align: center;}
    .flex {display: flex}
    .flex-between,.flex-end {display: flex;justify-content: space-between;align-items: center;}
    .flex-end {justify-content: flex-end;}
    .normal-table {border-collapse: collapse; width: 100%; table-layout: fixed; }
    .normal-table td { padding: 8px;color: #172b4d;border:  1px solid #f1f1f1;font-size: 12px;}
    .text-dt {font-size: 14px;color:#808695;line-height: 22px;}
    .text-dd {color: #515a6e;font-size: 22px;margin-bottom: 0;}
    .dw {font-size: 14px;}
    .hide-pc {display: none !important;}
    #app .common-card.card-pd {padding: 24px;}
/*common end*/

