
/* common start  */
body {font-size: 14px;}
/* common end  */

/* 头部 start  */
.head-box {background: #5a9873;padding: 6px 4px;}
h1 {font-size: 18px;}
.mostTop {position: relative;z-index: 999999;}
/* 头部 end  */

/* CurrentPlan start  */
#app .common-card.mint {background: #5a9873;}
#app .mint .card-header {border-color: #517c4b}
/* CurrentPlan end  */

.mobile-oncell {background: #FFF;float: none !important;box-sizing: border-box;width: 100%;border-radius: 6px;display: flex;justify-content: space-between;padding: 12px !important;align-items: center;}
.mobile-oncell h5,.mobile-oncell .ant-statistic-title,.like-mobileone-title {display: inline-block;margin-bottom: 0;vertical-align: middle;;color: #797979 !important}
.mobile-oncell h5+p,.mobile-oncell .desc_txt,.mobile-oncell .ant-statistic-content {display: inline-block;margin-bottom: 0 !important;vertical-align: middle;}
.mobile-oncell h5,.like-mobileone-title {font-size: 14px !important;color: #000000a6 !important;}
.mobile-oncellbox {display: block;margin: 0;margin-left: 0 !important;margin-right: 0 !important;}
.mobile-oncellboxs {padding: 0 !important;border: none !important;margin-bottom: 0 !important;}
.mobile-oncell .hide-mobile {display: none !important;}
.mobile-between {display: flex !important;justify-content: space-between !important;width: 100%;}